html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
html.js .loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  color: #F5F5F5;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

h1 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 76px;
}

button {
  background: transparent;
  border: 0;
}

a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #F5F5F5;
  transition: all 0.3s ease;
}
a:hover {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: 0;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #F5F5F5;
}
a:focus {
  color: #F5F5F5;
  outline: none;
  text-decoration: none;
}

.default_btn {
  padding: 20px 36px;
  background: #D03524;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid #D03524;
  transition: all 0.3s ease-in-out;
}
.default_btn:hover {
  background: transparent;
  transition: all 0.3s ease-in-out;
  color: #D03524;
}

.wrapper .header {
  background-color: #1C1C1C;
}
.wrapper .header .header_content {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .header .header_content .nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  height: 30px;
}
.wrapper .header .header_content .nav ul li {
  height: 30px;
  display: flex;
  align-items: center;
}
.wrapper .header .header_content .nav ul li a {
  padding: 0 12px;
}
.wrapper .header .header_content .header_contact .header_contact_btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #F5F5F5;
  padding: 12px 24px;
  border: 1px solid #F5F5F5;
}
.wrapper .header .header_content .header_contact .header_contact_btn:hover {
  color: #2C2C2C;
  background-color: #F5F5F5;
}
.wrapper .section_1 {
  position: relative;
  background: linear-gradient(116.28deg, rgba(0, 0, 0, 0.792) 27.23%, rgba(0, 0, 0, 0.8008) 50.8%, rgba(0, 0, 0, 0.6952) 80.92%, rgba(32, 34, 39, 0.88) 99.05%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.wrapper .section_1 .content .owl-carousel {
  position: absolute;
  left: 0;
}
.wrapper .section_1 .content .owl-carousel .item {
  position: relative;
}
.wrapper .section_1 .content .owl-carousel .item::before {
  background: linear-gradient(116.28deg, rgba(0, 0, 0, 0.792) 27.23%, rgba(0, 0, 0, 0.8008) 50.8%, rgba(0, 0, 0, 0.6952) 80.92%, rgba(32, 34, 39, 0.88) 99.05%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}
.wrapper .section_1 .content .owl-carousel .item img {
  width: 100%;
}
.wrapper .section_1 .content .owl-carousel .item .articles {
  position: absolute;
  z-index: 9;
  top: 10%;
  left: 23%;
}
.wrapper .section_1 .content .owl-carousel .item .articles p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}
.wrapper .section_1 .content .owl-carousel .item .video_play_btn {
  position: absolute;
  top: 30%;
  left: 75%;
  z-index: 9;
  text-align: center;
}
.wrapper .section_1 .content .owl-carousel .item .video_play_btn .circle {
  position: relative;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .section_1 .content .owl-carousel .item .video_play_btn button {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #F5F5F5;
}
.wrapper .section_1 .content .owl-carousel .item .video_play_btn button img {
  width: 33px;
  top: 22%;
  left: 32%;
  position: absolute;
}
.wrapper .section_1 .content .owl-carousel .item .video_play_btn .circle_text {
  position: absolute;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 186px;
  -webkit-animation: rotateText 10s linear infinite;
          animation: rotateText 10s linear infinite;
}
@-webkit-keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.wrapper .section_1 .content .owl-carousel .item .video_play_btn .circle_text span {
  position: absolute;
  left: 30%;
  font-size: 1.2em;
  transform-origin: 0 80px;
}
.wrapper .section_1 .content .owl-carousel .owl-dots {
  position: absolute;
  top: 90%;
  left: 50%;
}
.wrapper .section_1 .content .owl-carousel .owl-dots .owl-dot span {
  background: rgba(217, 217, 217, 0.2);
  transition: all 0.3s ease-in-out;
}
.wrapper .section_1 .content .owl-carousel .owl-dots .owl-dot:hover span {
  background-color: #F5F5F5;
  transition: all 0.3s ease-in-out;
}/*# sourceMappingURL=main.css.map */