@charset "UTF-8";
html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
html.js .loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  color: #F5F5F5;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

h1 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 76px;
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
  }
}

h2 {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #2C2C2C;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #2C2C2C;
}

h4 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 78px;
  color: #9B5E5E;
}

h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #2C2C2C;
}

h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #2C2C2C;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2C2C2C;
}

button {
  background: transparent;
  border: 0;
}

.mobile_nav {
  height: 320px;
  display: none;
}

.mobile_menu {
  display: none;
}
.mobile_menu .menu_close_btn {
  position: absolute;
  top: -500%;
  left: 0;
}
.mobile_menu.active {
  position: relative;
  z-index: 999;
}
@media only screen and (max-width: 1024px) {
  .mobile_menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.mobile_menu .burger_menu {
  position: relative;
  width: 27px;
  height: 18px;
}
.mobile_menu .burger_menu.active span {
  transform: scale(0);
  transition: all 0.4s linear;
}
.mobile_menu .burger_menu.active::before, .mobile_menu .burger_menu.active::after {
  top: 9px;
  transition: all 0.3s linear;
  width: 20px;
}
.mobile_menu .burger_menu.active::before {
  transform: rotate(45deg);
}
.mobile_menu .burger_menu.active::after {
  transform: rotate(-45deg);
}
.mobile_menu .burger_menu::before, .mobile_menu .burger_menu::after {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 2px;
  width: 27px;
  height: 2px;
  left: 0;
  transition: all 0.4s linear;
}
.mobile_menu .burger_menu::before {
  top: 0;
}
.mobile_menu .burger_menu::after {
  bottom: 0;
}
.mobile_menu .burger_menu span {
  position: absolute;
  background: #fff;
  border-radius: 2px;
  left: 0;
  width: 27px;
  height: 2px;
  top: 8px;
  transition: all 0.4s linear;
}

a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #F5F5F5;
  transition: all 0.3s ease;
}
a:hover {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #F5F5F5;
  cursor: pointer;
}
a:focus {
  color: #F5F5F5;
  outline: none;
  text-decoration: none;
}

input {
  outline: none;
  padding: 16px 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ACA9A9;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ACA9A9;
}
input:focus {
  border-bottom: 1px solid #2E6AF2;
}

ul {
  list-style: none;
}

.default_btn {
  padding: 20px 36px;
  background: #D03524;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid #D03524;
  transition: all 0.3s ease-in-out;
}
.default_btn.red {
  background: #E2193A;
  padding: 16px 59px;
  border: 1px solid rgba(226, 25, 58, 0.8);
}
.default_btn.red:hover {
  color: rgba(226, 25, 58, 0.8);
  border: 1px solid rgba(226, 25, 58, 0.8);
}
.default_btn.grey {
  padding: 16px 68px;
  color: #878686;
  border: 1px solid #878686;
  background: transparent;
}
.default_btn.grey:hover {
  color: #F5F5F5;
  background: #878686;
}
.default_btn:hover {
  background: transparent;
  transition: all 0.3s ease-in-out;
  color: #D03524;
}

.review_card {
  border: 1px solid #ACA9A9;
  padding: 42px 33px 48px 22px;
  max-height: 300px;
  height: 100vh;
}
@media only screen and (max-width: 1024px) {
  .review_card {
    max-width: 400px;
    margin: auto;
    max-height: 100%;
    height: 100%;
  }
}
.review_card .user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1024px) {
  .review_card .user {
    flex-direction: column;
  }
}
.review_card .user .user_img img {
  border-radius: 50%;
}
.review_card .user .user_name {
  display: flex;
  flex-direction: column;
  margin-left: 27px;
}
@media only screen and (max-width: 1024px) {
  .review_card .user .user_name {
    align-items: center;
    margin-left: 0;
    margin-top: 16px;
  }
}
.review_card .user .user_name h6 {
  margin: 4px 0;
}
.review_card .user .user_name p {
  margin: 4px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #878686;
}
.review_card .review p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #2C2C2C;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background-color: transparent;
}

.owl-nav button:hover {
  background-color: transparent;
}

.header {
  background-color: #1C1C1C;
}
.header .header_content {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .header_content .nav {
  width: -webkit-fill-available;
  max-width: 700px;
}
.header .header_content .nav ul {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0;
}
@media only screen and (max-width: 1024px) {
  .header .header_content .nav ul {
    padding: 0;
    position: absolute;
    top: -400%;
    flex-direction: column;
    left: 0;
    display: none;
  }
}
.header .header_content .nav ul li {
  height: 30px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .header .header_content .nav ul li {
    padding: 6px 0;
  }
}
.header .header_content .nav ul li a {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 12px;
}
@media only screen and (max-width: 1024px) {
  .header .header_content .nav ul li a {
    color: #6A3908;
  }
}
@media only screen and (max-width: 1024px) {
  .header .header_content .header_contact {
    position: absolute;
    top: 100%;
    left: 40%;
  }
}
.header .header_content .header_contact .header_contact_btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #F5F5F5;
  padding: 12px 24px;
  border: 1px solid #F5F5F5;
}
@media only screen and (max-width: 1024px) {
  .header .header_content .header_contact .header_contact_btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}
.header .header_content .header_contact .header_contact_btn:hover {
  color: #2C2C2C;
  background-color: #F5F5F5;
}

.wrapper .section_1 .container {
  position: relative;
}
.wrapper .section_1 .container .articles {
  position: absolute;
  z-index: 9;
  top: 10vh;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .wrapper .section_1 .container .articles {
    width: auto;
    top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.wrapper .section_1 .container .articles p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #F5F5F5;
}
@media only screen and (max-width: 1024px) {
  .wrapper .section_1 .container .articles p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
}
.wrapper .section_1 .container .articles .video_play_btn {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 9;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .wrapper .section_1 .container .articles .video_play_btn {
    position: relative;
  }
}
.wrapper .section_1 .container .articles .video_play_btn .circle {
  position: relative;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .section_1 .container .articles .video_play_btn button {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #F5F5F5;
}
.wrapper .section_1 .container .articles .video_play_btn button img {
  width: 33px;
  top: 22%;
  left: 32%;
  position: absolute;
}
.wrapper .section_1 .container .articles .video_play_btn .circle_text {
  position: absolute;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 190px;
  -webkit-animation: rotateText 10s linear infinite;
          animation: rotateText 10s linear infinite;
}
.wrapper .section_1 .container .articles .video_play_btn .circle_text .circle_p {
  color: #F5F5F5;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
@-webkit-keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.wrapper .section_1 .container .articles .video_play_btn .circle_text span {
  position: absolute;
  left: 30%;
  font-size: 1.2em;
  transform-origin: 0 80px;
}
.wrapper .section_1 .owl-carousel {
  left: 0;
}
.wrapper .section_1 .owl-carousel .item {
  position: relative;
}
.wrapper .section_1 .owl-carousel .item::before {
  background: linear-gradient(116.28deg, rgba(0, 0, 0, 0.792) 27.23%, rgba(0, 0, 0, 0.8008) 50.8%, rgba(0, 0, 0, 0.6952) 80.92%, rgba(32, 34, 39, 0.88) 99.05%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}
.wrapper .section_1 .owl-carousel .item img {
  width: 100%;
}
.wrapper .section_1 .owl-carousel .owl-dots {
  position: absolute;
  top: 90%;
  left: 46.5%;
}
@media only screen and (max-width: 1440px) {
  .wrapper .section_1 .owl-carousel .owl-dots {
    left: 45%;
  }
}
.wrapper .section_1 .owl-carousel .owl-dots .owl-dot span {
  background: rgba(217, 217, 217, 0.2);
  transition: all 0.3s ease-in-out;
}
.wrapper .section_1 .owl-carousel .owl-dots .owl-dot.active span {
  background-color: #F5F5F5;
  transition: all 0.3s ease-in-out;
}
.wrapper .section_1 .owl-carousel .owl-dots .owl-dot:hover span {
  background-color: #F5F5F5;
  transition: all 0.3s ease-in-out;
}
.wrapper .section_2 {
  margin-top: 112px;
}
.wrapper .section_2 h2 {
  text-align: center;
}
.wrapper .section_2 .advantages {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  .wrapper .section_2 .advantages {
    flex-direction: column;
    align-items: center;
  }
}
.wrapper .section_2 .advantages .advantages_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
}
.wrapper .section_2 .advantages .advantages_card p {
  color: #2C2C2C;
  text-align: center;
}
.wrapper .section_2 .advantages .advantages_card .advantages_img {
  padding: 16px;
  border-radius: 50%;
  background: #F5F5F5;
}
.wrapper .section_2 .advantages .advantages_card .advantages_img img {
  max-height: 60px;
  height: 100%;
}
.wrapper .section_3 {
  margin-top: 100px;
  position: relative;
}
.wrapper .section_3 .portfolio_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .section_3 .portfolio_nav ul {
  display: flex;
  padding: 0;
}
.wrapper .section_3 .portfolio_nav ul li {
  padding: 0 14px;
}
.wrapper .section_3 .portfolio_nav ul li a {
  color: #2C2C2C;
}
.wrapper .section_3 .portfolio_nav ul li.active a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.wrapper .section_3 .portfolio .portfolio_img {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1024px) {
  .wrapper .section_3 .portfolio .portfolio_img {
    flex-direction: column;
    align-items: center;
  }
}
.wrapper .section_3 .portfolio .portfolio_img img {
  width: 50%;
}
@media only screen and (max-width: 1024px) {
  .wrapper .section_3 .portfolio .portfolio_img img {
    width: 100%;
  }
  .wrapper .section_3 .portfolio .portfolio_img img:nth-child(odd) {
    padding: 0;
  }
  .wrapper .section_3 .portfolio .portfolio_img img:nth-child(even) {
    padding: 0;
  }
}
.wrapper .section_3 .portfolio .portfolio_img img:nth-child(odd) {
  padding: 2px 2px 2px 0;
}
.wrapper .section_3 .portfolio .portfolio_img img:nth-child(even) {
  padding: 2px 0 2px 2px;
}
.wrapper .section_3 .default_btn {
  margin: auto;
  margin-top: 52px;
  display: flex;
}
.wrapper .section_4 {
  margin-top: 120px;
}
.wrapper .section_4 .order_card_wrapper {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  .wrapper .section_4 .order_card_wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.wrapper .section_4 .order_card_wrapper .order_card {
  background: #F5F5F5;
  padding: 36px 32px;
  max-width: 348px;
}
.wrapper .section_4 .order_card_wrapper .order_card h5 {
  text-align: center;
}
.wrapper .section_4 .order_card_wrapper .order_card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.wrapper .section_4 .order_card_wrapper .order_card .order_card_list {
  padding-left: 15px;
}
.wrapper .section_4 .order_card_wrapper .order_card .order_card_list li {
  color: #2C2C2C;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.wrapper .section_4 .order_card_wrapper .order_card .order_card_list li::before {
  content: "•";
  color: rgba(226, 25, 58, 0.8);
  font-weight: 700;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.wrapper .section_4 .order_card_wrapper .order_card .price {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2C2C2C;
  text-align: center;
}
.wrapper .section_4 .order_card_wrapper .order_card .price span {
  font-weight: 700;
}
.wrapper .section_4 .order_card_wrapper .order_card .description {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #878686;
}
.wrapper .section_5 {
  margin-top: 100px;
}
.wrapper .section_5 .stages_of_work .stages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ACA9A9;
}
@media only screen and (max-width: 1024px) {
  .wrapper .section_5 .stages_of_work .stages {
    flex-wrap: wrap;
  }
}
.wrapper .section_5 .stages_of_work .stages h5 {
  font-size: 32px;
  line-height: 39px;
}
.wrapper .section_5 .stages_of_work .stages p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #878686;
  max-width: 487px;
}
.wrapper .section_5 .stages_of_work .stages:last-child {
  border-bottom: 1px solid #ACA9A9;
}
.wrapper .mailing {
  background: #F2F2F2;
  margin-top: 120px;
  padding-bottom: 36px;
}
.wrapper .mailing .mailing_content h5 {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #2C2C2C;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper .mailing .mailing_content p {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #2C2C2C;
}
.wrapper .mailing .mailing_content .mailing_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}
.wrapper .mailing .mailing_content .mailing_form .form_inputs {
  width: 100%;
  display: flex;
  margin-bottom: 44px;
}
@media only screen and (max-width: 1024px) {
  .wrapper .mailing .mailing_content .mailing_form .form_inputs {
    flex-direction: column;
    align-items: center;
  }
}
.wrapper .mailing .mailing_content .mailing_form .form_inputs input {
  width: 50%;
}
@media only screen and (max-width: 1024px) {
  .wrapper .mailing .mailing_content .mailing_form .form_inputs input {
    width: 80%;
    margin: 20px 0;
  }
  .wrapper .mailing .mailing_content .mailing_form .form_inputs input:first-child {
    margin-right: 0px;
  }
}
.wrapper .mailing .mailing_content .mailing_form .form_inputs input:first-child {
  margin-right: 46px;
}
@media only screen and (max-width: 1024px) {
  .wrapper .mailing .mailing_content .mailing_form .form_inputs input:first-child {
    margin-right: 0px;
  }
}
.wrapper .team_section {
  margin-top: 120px;
}
.wrapper .team_section .team_img {
  width: 100%;
}
.wrapper .team_section p {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #2C2C2C;
}
.wrapper .review_section {
  margin-top: 120px;
}
.wrapper .review_section .review-carousel .owl-dots {
  display: none;
}
.wrapper .review_section .review-carousel .owl-nav {
  position: absolute;
  top: 45%;
  z-index: 9;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
}
.wrapper .review_section .review-carousel .owl-nav .owl-prev,
.wrapper .review_section .review-carousel .owl-nav .owl-next {
  top: 45%;
  position: absolute;
}
.wrapper .review_section .review-carousel .owl-nav .owl-prev {
  left: -60px;
}
.wrapper .review_section .review-carousel .owl-nav .owl-next {
  right: -60px;
}
@media only screen and (max-width: 1024px) {
  .wrapper .review_section .review-carousel .owl-nav .owl-prev,
.wrapper .review_section .review-carousel .owl-nav .owl-next {
    position: relative;
  }
  .wrapper .review_section .review-carousel .owl-nav .owl-prev {
    left: 0px;
  }
  .wrapper .review_section .review-carousel .owl-nav .owl-next {
    right: 0px;
  }
}

.footer {
  background: #1C1C1C;
  margin-top: 150px;
}
.footer .footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0 12px 0;
  margin-bottom: 60px;
}
.footer .footer_top p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(226, 25, 58, 0.8);
  margin-bottom: 8px;
}
.footer .footer_top a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #F5F5F5;
  transition: all 0.3s ease;
}
.footer .footer_top a:hover {
  color: #BAB6B6;
  transition: all 0.3s ease;
}
.footer .footer_top .footer_nav ul {
  padding: 0;
}
.footer .footer_top .footer_nav ul li {
  padding: 6px 0;
}
.footer .footer_top .footer_email {
  margin-bottom: 40px;
}
.footer .footer_top .footer_contact_number {
  margin-bottom: 40px;
}
.footer .footer_top .footer_network_link {
  display: flex;
  justify-content: space-between;
}
.footer .footer_top .footer_network_link a {
  padding: 12px;
  border-radius: 50%;
  background: rgba(226, 25, 58, 0.8);
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
  transition: all 0.3s ease-in-out;
}
.footer .footer_top .footer_network_link a img {
  transition: all 0.3s ease-in-out;
}
.footer .footer_top .footer_network_link a:hover {
  transition: all 0.3s ease-in-out;
}
.footer .footer_top .footer_network_link a:hover img {
  transition: all 0.3s ease-in-out;
}
.footer .footer_top .footer_network_link a:hover img#instagram {
  content: url("../img/instagram_hover.png");
}
.footer .footer_top .footer_network_link a:hover img#tiktok {
  content: url("../img/tiktok_hover.png");
}
.footer .footer_top .footer_network_link a:hover img#youtube {
  content: url("../img/youtube_hover.png");
}
.footer .footer_top .footer_network_link a:hover img#telegram {
  content: url("../img/telegram_hover.png");
}
.footer .footer_top .footer_network_link a:first-child {
  margin-left: 0;
}
.footer .footer_bottom p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #BAB6B6;
}/*# sourceMappingURL=main.css.map */